<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary orderer-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Orderer</h3>
            </div>
            <div class="container-fluid">
                <div class="panel-body panel-success">
                    <form name="cryptogenForm" class="form-horizontal">
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-2" for="name">OrdererType:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="ordererType" name="ordererType" [(ngModel)]="configtx.ordererType" name="configtx.ordererType" required>
                                    <option>solo</option>
                                    <option>kafka</option>
                                </select>
                                <!-- <input id="ordererType" name="ordererType" type="text" [(ngModel)]="configtx.ordererType" name="configtx.ordererType" class="form-control"
                                    required /> -->
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-2" for="maxMessageCount">MaxMessageCount:</label>
                            <div class="col-sm-10">
                                <input id="maxMessageCount" name="maxMessageCount" type="number" min="0" max="150" [(ngModel)]="configtx.maxMessageCount"
                                    name="configtx.maxMessageCount" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-2" for="batchTimeout">BatchTimeout:</label>
                            <div class="col-sm-10">
                                <input id="batchTimeout" name="batchTimeout" type="text" [(ngModel)]="configtx.batchTimeout" name="configtx.batchTimeout"
                                    class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-2" for="absoluteMaxBytes">AbsoluteMaxBytes:</label>
                            <div class="col-sm-10">
                                <input id="absoluteMaxBytes" name="absoluteMaxBytes" type="text" [(ngModel)]="configtx.absoluteMaxBytes" name="configtx.absoluteMaxBytes"
                                    class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-2" for="name">preferredMaxBytes:</label>
                            <div class="col-sm-10">
                                <input id="preferredMaxBytes" name="preferredMaxBytes" type="text" [(ngModel)]="configtx.preferredMaxBytes" name="configtx.preferredMaxBytes"
                                    class="form-control" required />
                            </div>
                        </div>

                        <button id="save-btn" class="btn btn-primary orderer-button" (click)="save(configtx)">Save to preview
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button id="save-btn" class="btn btn-primary orderer-button" (click)="configTx()">Submit
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </button>
                        <div class="form-group">
                            <div class="panel-body">
                                <pre id="configtxForm">orderer = {{configtxForm| json}}</pre>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary orderer-panel">
            <div class="panel-heading">Task list</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.submit != requestStatus.pending && StateStatus.submit}">
                        <app-task-status status="{{StateStatus.submit}}"></app-task-status> Save</li>
                    <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.configTx != requestStatus.pending && StateStatus.configTx}">
                        <app-task-status status="{{StateStatus.configTx}}"></app-task-status> Generating ConfigTx file</li>
                    <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.genesisBlock != requestStatus.pending && StateStatus.genesisBlock}">
                        <app-task-status status="{{StateStatus.genesisBlock}}"></app-task-status>Generating Genesis block</li>
                    <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.channelTx != requestStatus.pending && StateStatus.channelTx}">
                        <app-task-status status="{{StateStatus.channelTx}}"></app-task-status>Generating Channel TX file</li>
                    <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.dockerCompose != requestStatus.pending && StateStatus.dockerCompose}">
                        <app-task-status status="{{StateStatus.dockerCompose}}"></app-task-status>Generating Docker compose file</li>
                    <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.peerUp != requestStatus.pending && StateStatus.peerUp}">
                        <app-task-status status="{{StateStatus.peerUp}}"></app-task-status>Starting peer</li>
                </ul>
            </div>
            <div class="panel-footer">
                <p class="text-left">{{apiResponse.message}} {{ apiResponse.path}}</p>
            </div>
        </div>
    </div>
</div>