<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary orderer-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Orderer</h3>
            </div>
            <div class="container-fluid">
                <div class="panel-body panel-success">
                    <ul class="list-group">
                        <li class="list-group-item">Total peers:5</li>
                        <li class="list-group-item">Active peers:3</li>
                        <li class="list-group-item"> CPU :90% </li>
                        <li class="list-group-item"> Memory :70%</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>