<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary orderer-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Orderer</h3>
            </div>
            <div class="container-fluid">
                <div class="panel-body panel-success">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pie-chart">
                                <canvas baseChart [data]="loadData" [labels]="loadLabels" [chartType]="loadType" [colors]="loadColor"></canvas>
                            </div>
                            <div class="text-center">CPU</div>
                        </div>
                        <div class="col-md-6">
                            <div class="pie-chart">
                                <canvas baseChart [data]="memoryData" [labels]="memoryLabels" [chartType]="memoryType" [colors]="memoryColor"></canvas>
                            </div>
                            <div class="text-center">MEMORY</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary orderer-panel">
            <div class="panel-heading">Overview</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Total Mem: <strong> {{totalMemory}}</strong></li>
                    <li class="list-group-item">Available Mem:<strong> {{availableMemory}}</strong></li>
                    <li class="list-group-item"> CPU Average load / 1min:<strong> {{load[0]}}</strong></li>
                    <li class="list-group-item"> CPU Average load / 5 min:<strong> {{load[1]}}</strong></li>
                    <li class="list-group-item"> CPU Average load /15 min:<strong> {{load[2]}}</strong></li>
                    
                </ul>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>