.strikethrough {
    text-decoration: line-through;
}

.panel {
    margin: 5px;
}
/* .strikethrough app-success-glyphicon {
    visibility: visible;
}
app-success-glyphicon {
    visibility: hidden;
} */