<div class="row">
  <div class="col-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Peer</h3>
      </div>
      <div class="container-fluid">
        <div class="panel-body panel-success">
          <form name="peerForm">
            <div class="form-group has-feedback">
              <label class="control-label" for="name">Org Name:</label>
              <input id="name" name="name" type="text" [(ngModel)]="peer.name" name="peer.name" class="form-control" required />
            </div>
            <div class="form-group has-feedback">
              <label class="control-label" for="domain">Domain Name:</label>
              <input id="domain" name="domain" type="text" [(ngModel)]="peer.domain" name="peer.domain" class="form-control" required />
            </div>
            <div class="form-group has-feedback">
              <label class="control-label" for="peerCount">Peer count:</label>
              <input id="peerCount" name="peerCount" type="number" min="0" max="150" [(ngModel)]="peer.peerCount" name="peer.peerCount"
                class="form-control" required />
            </div>
            <div class="form-group has-feedback">
              <label class="control-label" for="userCount">User count:</label>
              <input id="userCount" name="userCount" type="number" min="0" max="150" [(ngModel)]="peer.userCount" name="peer.userCount"
                class="form-control" required />
            </div>

            <button id="save-btn" class="btn btn-success" (click)="save(peer)">Save
              <span class="glyphicon glyphicon-saved"></span>
            </button>
            <button id="save-btn" class="btn btn-success" (click)="submit()">Submit
              <span class="glyphicon glyphicon-send"></span>
            </button>

            <div class="form-group">
              <div class="panel-body">
                <pre id="peerForm">Peer = {{peerForm| json}}</pre>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="panel panel-success">
      <div class="panel-heading">Task list</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.submit != requestStatus.pending && StateStatus.submit}">
            <app-success-glyphicon status="{{StateStatus.submit}}"></app-success-glyphicon> Submit data</li>
          <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.cryptoConfigFile != requestStatus.pending && StateStatus.cryptoConfigFile}">
            <app-success-glyphicon status="{{StateStatus.cryptoConfigFile}}"></app-success-glyphicon> Generating crypto-config file</li>
          <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.cryptogen != requestStatus.pending && StateStatus.cryptogen}">
            <app-success-glyphicon status="{{StateStatus.cryptogen}}"></app-success-glyphicon> Generating crypto certificates</li>
          <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.dockerCompose != requestStatus.pending && StateStatus.dockerCompose}">
            <app-success-glyphicon status="{{StateStatus.dockerCompose}}"></app-success-glyphicon> Generating docker-compose file</li>
          <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.peerUp != requestStatus.pending && StateStatus.peerUp}">
            <app-success-glyphicon status="{{ StateStatus.peerUp}}"></app-success-glyphicon> Starting peers</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- <form-wizard>
        <wizard-step [title]="'Step1'"  (onNext)="onStep1Next($event)">
          <h1>Step1</h1>
        </wizard-step>
        <wizard-step [title]="'Step2'" (onNext)="onStep2Next($event)">
          <h1>Step2</h1>
        </wizard-step>
        <wizard-step [title]="'Step3'" (onNext)="onStep3Next($event)">
          <h1>Step3</h1>
        </wizard-step>
        <wizard-step [title]="'Step4'" (onComplete)="onComplete($event)">
          <div [ngSwitch]="isCompleted">
            <div *ngSwitchDefault>
              <h1>Step4</h1>
            </div>
            <div *ngSwitchCase="true">
              <h4>Thank you! You have completed all the steps.</h4>
            </div>
          </div>
        </wizard-step>
      </form-wizard>
     -->