<div class="row">
  <div class="col-md-8">
    <div class="panel panel-success peer-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Peer</h3>
      </div>
      <div class="container-fluid">
        <div class="panel-body panel-success">
          <form name="peerForm" class="form-horizontal">
            <div class="form-group has-feedback">
              <label class="control-label col-sm-2" for="name">Org Name:</label>
              <div class="col-sm-10">
                <input id="name" name="name" type="text" [(ngModel)]="peer.name" name="peer.name" class="form-control" required />
              </div>
            </div>
            <div class="form-group has-feedback">
              <label class="control-label col-sm-2" for="domain">Domain Name:</label>
              <div class="col-sm-10">
                <input id="domain" name="domain" type="text" [(ngModel)]="peer.domain" name="peer.domain" class="form-control" required />
              </div>
            </div>
            <div class="form-group has-feedback">
              <label class="control-label col-sm-2" for="peerCount">Peer count:</label>
              <div class="col-sm-10">
                <input id="peerCount" name="peerCount" type="number" min="0" max="150" [(ngModel)]="peer.peerCount" name="peer.peerCount" class="form-control" required />
                  </div>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label col-sm-2" for="userCount">User count:</label>
                <div class="col-sm-10">
                  <input id="userCount" name="userCount" type="number" min="0" max="150" [(ngModel)]="peer.userCount" name="peer.userCount"
                    class="form-control" required />
                </div>
              </div>
              <button id="save-btn" class="btn btn-success peer-button" (click)="save(peer)">Save to preview
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button id="save-btn" class="btn btn-success peer-button" (click)="submit()">Submit
                <i class="fa fa-upload" aria-hidden="true"></i>
              </button>

              <button id="save-btn" class="btn btn-success peer-button pull-right" (click)="export()" *ngIf="StateStatus.peerUp == requestStatus.success">Export
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>

              <div class="form-group">
                <div class="panel-body">
                  <pre id="peerForm">Peer = {{peerForm| json}}</pre>
                </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel" [ngClass]="apiResponse.status == true ? 'panel-success peer-panel' : 'panel-danger'">
        <div class="panel-heading">Task list</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.submit != requestStatus.pending && StateStatus.submit}">
              <app-task-status status="{{StateStatus.submit}}"></app-task-status> Save</li>
            <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.cryptoConfigFile != requestStatus.pending && StateStatus.cryptoConfigFile}">
              <app-task-status status="{{StateStatus.cryptoConfigFile}}"></app-task-status> Generating crypto-config file</li>
            <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.cryptogen != requestStatus.pending && StateStatus.cryptogen}">
              <app-task-status status="{{StateStatus.cryptogen}}"></app-task-status> Generating crypto certificates</li>
            <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.dockerCompose != requestStatus.pending && StateStatus.dockerCompose}">
              <app-task-status status="{{StateStatus.dockerCompose}}"></app-task-status> Generating docker-compose file</li>
            <li class="list-group-item" [ngClass]="{'strikethrough': StateStatus.peerUp != requestStatus.pending && StateStatus.peerUp}">
              <app-task-status status="{{ StateStatus.peerUp}}"></app-task-status> Starting peers</li>
          </ul>
        </div>
        <div class="panel-footer">
          <p class="text-left">{{apiResponse.message}} {{ apiResponse.path}}</p>
        </div>
      </div>
    </div>
  </div>
