
.peer-panel {
    border-color: var(--peer-theme-color);
}

.peer-panel > .panel-heading {
    background-color: var(--peer-theme-color);
    border-color:var(--peer-theme-color);
    color:white;
}

.peer-button {
    background-color: var(--peer-theme-color);
    border-color: var(--peer-theme-color);
    color: white;
}

