@import url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
@import "assets/css/riliwan-rabo.css";
@import "assets/css/style.css";
@import "assets/css/form.css";
@import "assets/css/loading-bars.css";

.strikethrough {
    text-decoration: line-through;
}

.panel {
    margin: 5px;
}

:root {
      --peer-theme-color:#009688;
      --orderer-theme-color:#01579B;
  }


.peer-panel {
    border-color: var(--peer-theme-color);
}

.peer-panel > .panel-heading {
    background-color: var(--peer-theme-color);
    border-color:var(--peer-theme-color);
    color:white;
}

.peer-button {
    background-color: var(--peer-theme-color);
    border-color: var(--peer-theme-color);
    color: white;
}

.orderer-panel {
    border-color: var(--orderer-theme-color);
}

.orderer-panel > .panel-heading {
    background-color: var(--orderer-theme-color);
    border-color:var(--orderer-theme-color);
    color:white;
}

.orderer-button {
    background-color: var(--orderer-theme-color);
    border-color: var(--orderer-theme-color);
    color: white;
}